@property --title-offset {
	syntax: '<number>';
	initial-value: 0;
	inherits: true;
}

* {
	box-sizing: border-box;
}

:root {
	color-scheme: dark;
}

body {
	margin: 0;
	font-family: Roboto, sans-serif;
	color: white;
	background-color: #181818;
}

canvas {
	display: block;
}

#landing {
	height: 100svh;
	background: linear-gradient(180deg, #101010, #181818);
	user-select: none;
}

#background {
	mix-blend-mode: plus-lighter;
	pointer-events: none;

	&::before,
	&::after {
		content: '';
		position: absolute;
		top: 0;
		height: calc(100svh + 100px);
		width: 100%;
	}

	&::before {
		background-color: black;
	}

	canvas {
		filter: blur(100px);
	}

	&::after {
		background-image: url('/images/noise.webp'), url('/images/dots.webp');
		mix-blend-mode: overlay;
		image-rendering: pixelated;
	}
}

#title {
	display: flex;
	position: absolute;
	inset: 0;
	justify-content: center;
	align-items: center;
	overflow-x: clip;

	h1 {
		position: absolute;
		height: 0;
		overflow: clip;
	}
}

#glow-title {
	font-size: max(4rem, min(10vw, 120px));
	font-family: 'Roboto Mono', monospace;
	font-weight: bold;
	line-height: 1;
	animation: title-scroll linear both;
	animation-timeline: view();
	animation-range-start: calc(50svh + 1lh);

	.line {
		position: relative;
		min-width: max-content;

		::after {
			display: block;
			text-transform: uppercase;
			animation: title-fade-in 800ms ease both, title-ios-fix 1s infinite;
		}

		&:first-child {
			right: calc(50% - 3ch);
			text-align: end;

			::after {
				--ch: -1ch;
				content: 'we create';
				animation-delay: 200ms;
			}
		}

		&:last-child {
			left: calc(50% - 5ch);

			::after {
				--ch: 1ch;
				content: 'pixel stuff';
				animation-delay: 400ms;
			}
		}

		.shadow-layer,
		.glow-layer {
			position: absolute;
			inset: 0;
		}

		.shadow-layer {
			color: white;
			text-shadow: 2px 2px 4px #0008;
			mix-blend-mode: multiply;
		}

		.base-layer {
			color: white;
			mix-blend-mode: overlay;
		}

		.glow-layer {
			color: transparent;
			text-shadow: 0 0 calc(1em / 16) black, 0 0 white;
			mix-blend-mode: color-dodge;
		}
	}
}

@media (max-width: 576px) {
	#glow-title {
		font-size: 4rem;

		.line:first-child,
		.line:last-child {
			left: unset;
			right: unset;
			text-align: unset;

			::after {
				white-space: pre;
				transition: opacity 800ms 200ms;
				animation: title-ios-fix 1s infinite;

				@starting-style {
					opacity: 0;
				}
			}

			&:first-child ::after {
				content: ' we\A create';
			}

			&:last-child ::after {
				content: '  pixel\A  stuff';
			}
		}
	}
}

@media (prefers-reduced-motion: reduce) {
	#glow-title {
		.line:first-child,
		.line:last-child {
			::after {
				animation: title-ios-fix 1s infinite;
			}
		}
	}
}

@media (prefers-contrast: more), (prefers-reduced-transparency: reduce) {
	#glow-title .line {
		.glow-layer {
			display: none;
		}

		.base-layer {
			mix-blend-mode: normal;
		}
	}
}

@keyframes title-scroll {
	from { --title-offset: 0; }
	to { --title-offset: 1; }
}

@keyframes title-fade-in {
	from {
		translate: calc((var(--title-offset)) * var(--ch)) 100%;
		transform: skewY(5deg);
		opacity: 0;
	}
	to { translate: calc(var(--title-offset) * var(--ch)); }
}

@keyframes title-ios-fix {
	to { scale: 1; }
}
